@import url('https://fonts.googleapis.com/css2?family=Bitter');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

body {
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    font-family: 'Bitter';
    font-weight: 500;
    background-color: #eeeeee;
}

h1 {
    font-family: 'Alfa Slab One';
    font-weight: 200;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
}

.sidebar {
    width: 35vw;
    height: 100vh;
    background: url("./left-img.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-content {
    width: 65vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.logo {
    position: relative;
    top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
    opacity: 0.5;
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-text {
    margin: 20px;
}

.main-form {
    background-color: #fff;
    padding: 20px;
}

.main-forgot {
    margin: 20px;
}