.sidebar {
    width: 35vw;
    height: 100vh;
    background: url("./left-img.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    position: relative;
    top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
    opacity: 0.5;
    padding-top: 15px;
    padding-bottom: 15px;
}

.left-text {
    color: #fff;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
}